# CAPM - Capital Asset Pricing Model

In [1]:
from scipy import stats
import pandas as pd
import pandas_datareader as web

In [2]:
spy_etf = web.DataReader('SPY', 'stooq')

In [3]:
spy_etf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2019-12-24 to 2014-12-29
Data columns (total 5 columns):
Open      1257 non-null float64
High      1257 non-null float64
Low       1257 non-null float64
Close     1257 non-null float64
Volume    1257 non-null int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [4]:
spy_etf.head()

              Open     High      Low   Close     Volume
Date
2019-12-24  321.47  321.520  320.900  321.23   20270007
2019-12-23  321.59  321.650  321.060  321.22   53015641
2019-12-20  320.46  321.974  319.387  320.73  149338215
2019-12-19  319.80  320.980  319.525  320.90   85388424
2019-12-18  320.00  320.250  319.530  319.59   48199955