In [1]:
import pandas as pd
import quandl

### Create a Portfolio

In [2]:
start = pd.to_datetime('2012-01-01')
end = pd.to_datetime('2017-01-01')

In [3]:
# Grabbing a bunch of tech stocks for our portfolio
aapl = quandl.get('WIKI/AAPL.11',start_date=start,end_date=end)
cisco = quandl.get('WIKI/CSCO.11',start_date=start,end_date=end)
ibm = quandl.get('WIKI/IBM.11',start_date=start,end_date=end)
amzn = quandl.get('WIKI/AMZN.11',start_date=start,end_date=end)

In [4]:
# Alternative
# aapl = pd.read_csv('AAPL_CLOSE',index_col='Date',parse_dates=True)
# cisco = pd.read_csv('CISCO_CLOSE',index_col='Date',parse_dates=True)
# ibm = pd.read_csv('IBM_CLOSE',index_col='Date',parse_dates=True)
# amzn = pd.read_csv('AMZN_CLOSE',index_col='Date',parse_dates=True)

In [6]:
aapl.to_csv('./data/AAPL_CLOSE')
cisco.to_csv('./data/CISCO_CLOSE')
ibm.to_csv('./data/IBM_CLOSE')
amzn.to_csv('./data/AMZN_CLOSE')

## Normalize Prices
### Cumulative daily Returns

In [10]:
for stock_df in (aapl,cisco,ibm,amzn):
    stock_df['Normed Return'] = stock_df['Adj. Close'] / stock_df.iloc[0]['Adj. Close']

In [11]:
aapl.head()

            Adj. Close  Normed Return
Date
2012-01-03   52.848787       1.000000
2012-01-04   53.132802       1.005374
2012-01-05   53.722681       1.016536
2012-01-06   54.284287       1.027162
2012-01-09   54.198183       1.025533

In [13]:
aapl.tail()

            Adj. Close  Normed Return
Date
2016-12-23  115.080808       2.177549
2016-12-27  115.811668       2.191378
2016-12-28  115.317843       2.182034
2016-12-29  115.288214       2.181473
2016-12-30  114.389454       2.164467

## Allocations

Let's pretend we had the following allocations for our total portfolio:

* 30% in Apple
* 20% in Google/Alphabet
* 40% in Amazon
* 10% in IBM