In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('./data/monthly-milk-production-pounds-p.csv')
df.head()

     Month  Monthly milk production: pounds per cow. Jan 62 ? Dec 75
0  1962-01                                              589.0
1  1962-02                                              561.0
2  1962-03                                              640.0
3  1962-04                                              656.0
4  1962-05                                              727.0

In [5]:
df.tail()

,Month,Monthly milk production: pounds per cow. Jan 62 ? Dec 75
164,1975-09,817.0
165,1975-10,827.0
166,1975-11,797.0
167,1975-12,843.0
168,Monthly milk production: pounds per cow. Jan 6...,NaN

In [6]:
df.columns = ['Month','Milk in pounds per cow']
df.head()

     Month  Milk in pounds per cow
0  1962-01                   589.0
1  1962-02                   561.0
2  1962-03                   640.0
3  1962-04                   656.0
4  1962-05                   727.0

In [7]:
# Weird last value at bottom causing issues
df.drop(168,axis=0,inplace=True)

In [8]:
df['Month'] = pd.to_datetime(df['Month'])

In [10]:
df.head()

       Month  Milk in pounds per cow
0 1962-01-01                   589.0
1 1962-02-01                   561.0
2 1962-03-01                   640.0
3 1962-04-01                   656.0
4 1962-05-01                   727.0

In [11]:
df.set_index('Month', inplace=True)

In [12]:
df.head()

            Milk in pounds per cow
Month
1962-01-01                   589.0
1962-02-01                   561.0
1962-03-01                   640.0
1962-04-01                   656.0
1962-05-01                   727.0

In [13]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Milk in pounds per cow,168.0,754.708333,102.204524,553.0,677.75,761.0,824.5,969.0

### Visualize the Data