In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2019-12-27  126.089996  106.750000
2019-12-30  124.470001  106.650002
2019-12-31  124.900002         NaN
2020-01-02  123.410004  105.650002
2020-01-03  122.580002  105.650002

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2019-12-27  0.006924       NaN
2019-12-30 -0.012931 -0.000937
2019-12-31  0.003449       NaN
2020-01-02 -0.012001       NaN
2020-01-03 -0.006748  0.000000

[3274 rows x 2 columns]

## PG