In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['^GSPC', '^IXIC', '^GDAXI']

In [3]:
ind_data = pd.DataFrame()

In [4]:
for t in tickers:
    ind_data[t] = wb.DataReader(t, data_source='yahoo')['Adj Close']

In [5]:
ind_data.head()

                  ^GSPC        ^IXIC       ^GDAXI
Date
2014-12-31  2058.899902  4736.049805          NaN
2015-01-02  2058.199951  4726.810059  9764.730469
2015-01-05  2020.579956  4652.569824  9473.160156
2015-01-06  2002.609985  4592.740234  9469.660156
2015-01-07  2025.900024  4650.470215  9518.179688

In [6]:
ind_data.tail()

                  ^GSPC        ^IXIC        ^GDAXI
Date
2019-12-20  3221.219971  8924.959961  13318.900391
2019-12-23  3224.010010  8945.650391  13300.980469
2019-12-24  3223.379883  8952.879883           NaN
2019-12-26  3239.909912  9022.389648           NaN
2019-12-27  3240.020020  9006.620117  13337.110352