In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2019-12-27  126.089996  106.750000
2019-12-30  124.470001  106.650002
2019-12-31  124.900002         NaN
2020-01-02  123.410004  105.650002
2020-01-03  122.580002  105.650002

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2019-12-27  0.006924       NaN
2019-12-30 -0.012931 -0.000937
2019-12-31  0.003449       NaN
2020-01-02 -0.012001       NaN
2020-01-03 -0.006748  0.000000

[3274 rows x 2 columns]

## PG

In [6]:
sec_returns['PG'].mean()

0.0003151762230100715

In [7]:
sec_returns['PG'].mean() * 250

0.07879405575251787

In [8]:
sec_returns['PG'].std()

0.010953863301341958

In [9]:
sec_returns['PG'].std() * 250 ** 0.5

0.17319578605185962

## Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.00028417198936391214

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.07104299734097803

In [12]:
sec_returns['BEI.DE'].std()

0.013573292621024753

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21461260015197442

In [14]:
sec_returns['PG'].mean() * 250, sec_returns['BEI.DE'].mean() * 250

(0.07879405575251787, 0.07104299734097803)

In [16]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.078794
BEI.DE    0.071043
dtype: float64

In [17]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.173196
BEI.DE    0.214613
dtype: float64

## Covariance and Correlation

In [19]:
PG_var = sec_returns['PG'].var()
PG_var

0.00011998712122448615

In [20]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018423427257596503

In [21]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000120  0.000039
BEI.DE  0.000039  0.000184

In [22]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.029997  0.009637
BEI.DE  0.009637  0.046059